{{#if loggedIn}}
<!DOCTYPE html>
<html>
<head>
  <title>Fitness Notetracker App - Workout Plan</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="./assets/css/styles.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/meal">My Meals</a>
        </li>
        <li class="nav-item">
          <form method="POST" action="/api/user/logout">
            <button class="btn btn-primary">Log out</button>
          </form>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container mt-4">
    <h1 class="section-heading">Workout Plan</h1>


      {{#each workouts as |workout|}}
        <div class="workout">
          <h3>Title: {{workout.title}}</h2>
          <p>Content: {{workout.content}}</p>
          <p>Time Worked out: {{workout.time}} minutes</p>
            <button class="btn btn-danger delete-btn" data-id={{workout.id}}>Delete</button>
          </form>
        </div>
      {{/each}}
  
<h3 class="section-heading"> Create a workout plan!</h3>
  <form id="create-form">
    <label for="title">Title:</label>
    <input type="text" class="form-control"  name="title" id="title" required>
    <label for="content">Content:</label>
    <textarea name="content" class="form-control"  id="content" required></textarea>
    <label for="time">Time Worked Out (in minutes):</label>
    <input type="number" class="form-control" name="Time Worked Out" id="time" required>
    <button type="submit" class="btn btn-primary" >Create</button>
  </form>
  </div>
  {{else}}
  <br>
  <br>
  <h2>You are not logged in! Please <a href='/login'>login</a> or <a href='/signup'>signup</a></h2>
  {{/if}}
  <script src="./assets/js/workout.js"></script>

  <style>
    /* Custom CSS styles here */
    .section-heading {
      color: #007bff;
      border-bottom: 2px solid #007bff;
      padding-bottom: 5px;
      margin-bottom: 20px;
    }

    .box-row {
      margin-bottom: 10px;
    }

    .workout-row {
      margin-bottom: 10px;
    }
    .workout {
      border: 1px solid #ccc;
      padding: 20px;
      margin-bottom: 20px;
    }

    .box-section,
    .workout-section {
      border: 1px solid #ccc;
      padding: 20px;
      margin-bottom: 20px;
    }

    .btn-primary {
      background-color: #007bff;
      border-color: #007bff;
    }

    .btn-primary:hover {
      background-color: #0056b3;
      border-color: #0056b3;
    }

    .btn-danger {
      background-color: #dc3545;
      border-color: #dc3545;
    }

    .btn-danger:hover {
      background-color: #c82333;
      border-color: #c82333;
    }
  </style>